 header {
    background-image: linear-gradient(40deg,rgb(9, 1, 11), rgb(28, 149, 242));
}

#time-date {
    font-size:x-large;
    color: rgb(239, 246, 30);
}

body {
    background-image: linear-gradient(180deg,rgb(9, 1, 11), rgb(28, 149, 242), rgb(9, 1, 11));
    width:100%
} 

.forecast-row {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    margin-right: -15px;
    margin-left: -15px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.card-body {
    background-image:linear-gradient(180deg, rgb(234, 33, 127), rgb(219, 164, 13));
    padding: 100px;
	border-radius: 25px;
    font-size: larger;
}

.card-title {
    background-color: rgba(27, 169, 241, 0.884);
    border-radius: 25px;
    font-family:cursive
}

div.card {
    background-color:rgba(27, 169, 241, 0.884);
    margin-left: 10px;
    border-radius: 25px;
}

#search-button {
        background-color: #4CAF50; 
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: cursive;
        font-size:larger;
}

h2 {
    color: aqua;
    font-family: sans-serif;
}

